<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <div id="home" class="big-bg">
      <%= render 'shared/header' %>
      <%= render 'shared/flashes' %>
      <main role = "container">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
