<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <main role = "main">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>

</html>
